//Main setup
$width: 1150px;
$fontSize: 18px;
$red: #ff4747;

// Header
$colorTextLogo: #1a2755;
$colorBackgroundHeader: #fcfcfc;

//Header nav
$colorTextNav: #3b5998;
$colorBackgroundNav: #3b5998;
$colorBorderNav: #3b5998;

// Section
$fontSizeHeader: 30px;

body, header, main, footer, div, p, h1, h2, h3, figure, figcaption, a  
{
	all: unset;
	font-size: $fontSize;
	font-family: Arial;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

*
{
	box-sizing: border-box;
}

// Width text
.wrapper-section
{
	max-width: $width;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Mixin Arrow
@mixin arrow
{
	font-size: 4vw;
	color: #fff;
	padding: 15px;
}

// Mixin background section image
@mixin image-bg-section
{
	display: flex;
	background-position: center center;
}

// Mixin background-color second layer
@mixin bg-layer2
{
	width: 100%; height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

// Mixin Header section
@mixin h-section
{
	font-size:  $fontSizeHeader;
	color: $colorTextNav;
	text-transform: uppercase;

	margin-bottom: 80px;
}