//Main setup
$width: 1150px;
$fontSize: 18px;

// Header
$colorTextLogo: #1a2755;
$colorBackgroundHeader: #fcfcfc;

//Header nav
$colorTextNav: #3b5998;
$colorBackgroundNav: #3b5998;
$colorBorderNav: #3b5998;



body, header, main, footer, div, p, h1, h2, h3, figure, figcaption, a  
{
	all: unset;
	font-size: $fontSize;
	font-family: Arial;
}

ul, li
{
	list-style: none;
	margin: 0;
	padding: 0;
}

*
{
	box-sizing: border-box;
}
