@import "includes/settings";

header
{
	display: flex;
	justify-content: center;
	background: $colorBackgroundHeader;
}

.wrap_Header
{
	width: $width;

	display: flex;
	justify-content: center;
}

.logo
{
	width: 25%;

	display: flex;
	align-items: center;
}

h1 
{
	
	display: block;

	font-size: $fontSize;
	color: $colorTextLogo;
	letter-spacing: 3px;
	line-height: 18px;
	text-align: center;

	background: url('/img/logo.jpg') no-repeat;
	padding: 5px 0 5px 65px;
}

h1 strong
{
	font-size: $fontSize + 8;
	font-weight: 700;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.nav
{
	width: 75%;

	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.nav ul
{
	display: flex;
	align-items: center;
}

.nav li
{

	font-size: $fontSize + 4;
	margin: 25px 0;
	padding: 0 10px;
	color: $colorTextNav;

	border-right: 1px solid $colorBorderNav;
}

ul li:last-child
{
	border-right: none;	
}

.nav li:hover
{
	color: #ffffff;
	background: $colorBackgroundNav;

	margin: 20px 0;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0 0 1px 1px $colorBorderNav;
}

